@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(./assets/background/background_1.jpg);
    background-size: cover !important; 
    background-repeat: no-repeat !important;
    font-family: 'Open Sans', sans-serif;  
    height: 100vh;
    width: 100vw; 
}

/* =========================================================================== */

.main-container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.text{
    width: 60%;
    height: 60%;
    margin-top: 20%;
    margin-left: -2%;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0px 20px 20px 0px;
    padding-left: 40px;
    padding-right: 40px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
    color: #636363;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, .5);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.text h1{
    padding-bottom: 20px;
    padding-top: 45px;

}
.text h2{
    padding-bottom: 10px;
}
.text h3{
    padding-bottom: 10px;
    padding-top: 10px;
}
.text p{
    padding-bottom: 10px;
}

/* =========================================================================== */

.hand-wrapper {
    /* border: 2px solid black; */
    width: 100%;
    display: grid;
    justify-content: left;
    align-items: flex-end;
    position: relative;
}

.hand {
    width: 100%;
    height: 80%;
    z-index: 50;
}
button{
    position: absolute;
    top: 61.53%;
    right: 23.2%;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    z-index: 100
    ;
}

button:focus {
    outline: 0;
}

#mobile{
    width: 205px;
    height: 283px;
    background: url(./assets/background/background_1.jpg);
    background-size: 300% !important;
    background-position: center !important;
    position: absolute;
    top: 30.4%;
    right: 10%;
    z-index: 25;
}

.line-1,
.line-2,
.line-3,
.line-4{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}

.line-1{
    left: 33%;
    width: 1px;
    height: 100%;
}

.line-2{
    left: 67%;
    width: 1px;
    height: 100%;
}

.line-3{
    top: 33%;
    width: 100%;
    height: 1px;
}

.line-4{
    top: 67%;
    width: 100%;
    height: 1px;
}

/* =========================================================================== */

.logo{
    position: fixed;    
    bottom: 5%;
    right: -2%;
    /* backdrop-filter: blur(10px); */
    background-color: rgba(255, 255, 255, 0.5);    
    width: 15%;
    height: 15%;
    padding: 0 0 0 8px;
    border-radius: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    /* border: 5px solid rgba(0, 0, 0, 0.1); */
    background-clip: padding-box;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.stitched{
    background-image : url("http://subtlepatterns.com/patterns/white_leather.png");
    border-radius:10px;  
}

.logo img{
    border: 2px dashed rgb(160, 63, 63);  
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.1);
    border-radius:10px;  
    padding: 10px;
    padding-right: 20px;
}

/*  */